* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  margin: 6px !important;
}
body {
  display: flex;
  align-content: center;
  justify-content: center;
  /* height: 100vh; */
  background: #9b59b6;
}

.wrapper {
  width: 450px;
  background: #fff;
  border-radius: 10px;
  margin-top: 150px;
}
.wrapper header {
  display: flex;
  align-items: center;
  padding: 25px 3px 10px;
  justify-content: space-between;
}
header .current-date {
  font-size: 1.45em;
  font-weight: 500;
}
